{% extends "base.html" %}
{% block content %}

  <h2>Rekisteröi uusi käyttäjä kurssikyselyyn</h2>

{% if message %}
  <div class="alert alert-success">
    {{message}}
  </div>
{% endif %}

{% if errors %}
  <div class="alert alert-danger">
      {% for error in errors %}
       <li> {{error}} </li>
      {% endfor %}
  </div>
{% endif %}


  
  <form method="post" action="{{base_path}}/kayttaja">
    <div class="form-group">  
      <label>Nimi</label>
      <input type="text" name="kayttajannimi" class="form-control">
    </div>

    <div class="form-group">
      <label>Käyttäjätunnus (s-posti)</label>
      <input type="text" name="kayttajaid" class="form-control">
    </div>

    <div class="form-group">
      <label>Salasana (5-15 merkkiä, ainakin yksi numero ja kirjain)</label>
      <input type="date" name="salasana" class="form-control">
    </div>
  
<!--      <div class="form-group">
      <label>Salasana uudestaan</label>
      <input type="date" name="salasana2" class="form-control">
    </div> -->

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Rekisteröidy</button>
    </div>
  </form>
{% endblock %}
