
{% macro destroy_button(action, text) %}
	<form method="post" action="{{action}}" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa kyselyn?" style="display: inline-block;">
		<button type="submit" class="btn btn-danger">{{text|default('Poista')}}</button>
	</form>
{% endmacro %}

{% macro edit_button(action, text) %}
	<form method="post" action="{{action}}" style="display: inline-block;">
		<button type="submit" class="btn btn-default">{{text|default('Muokkaa')}}</button>
	</form>
{% endmacro %}
