{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

  <h1>Muokkaa kyselyä: {{attributes.kyselynnimi}}</h1>

{% if errors %}
  <div class="alert alert-danger">
    <ul>
      {% for error in errors %}
        <li>{{error}}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<!--<div><strong>Kysely ID:</strong> {{attributes.kyselyid}}</div>-->

  <form method="post" action="{{base_path}}/kysely/{{attributes.kyselyid}}/edit">
    
    <div class="form-group">
      <input type="hidden" name="kyselyid" class="form-control" value="{{attributes.kyselyid}}">
    </div>

    <div class="form-group">
      <label>Kyselyn nimi</label>
      <input type="text" name="kyselynnimi" class="form-control" value="{{attributes.kyselynnimi}}">
    </div>

    <div class="form-group">
      <label>Kurssin nimi</label>
        <select class="form-control" name="kurssiid">  
      {% for kurssi in kurssit %}
        <option value="{{kurssi.kurssiid}}">{{kurssi.kurssinnimi}}</option>
      {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label>Alkupäivämäärä (vvvv-kk-pp)</label>
      <input type="date" name="alkupvm" class="form-control" value="{{attributes.alkupvm}}">
    </div>

    <div class="form-group">
      <label>Loppupäivämäärä (vvvv-kk-pp)</label>
      <input type="date" name="loppupvm" class="form-control" value="{{attributes.loppupvm}}">
    </div>

    <div class="form-group">
      <label>Kyselyn tila</label><br>
        <input type="radio" name="tila" value="false" checked="checked"> Kesken<br>
        <input type="radio" name="tila" value="true" > Valmis<br>
    </div>
  
    <div>
    <ul class="list-inline">
      <li><button type="submit" class="btn btn-primary">Tallenna</button></li>
      <li>{{forms.destroy_button("#{base_path}/kysely/#{kysely.kyselyid}/destroy")}}</li>
    </ul>
    </div>
  </form>
{% endblock %}
