{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

  {% if message %}
  <div class="alert alert-success">
    {{message}}
  </div>
  {% endif %}

  <h1>Kysely: {{kysely.kyselynnimi}}</h1>
  
  <div class "btn-group inline pull-left">
    {{forms.destroy_button("#{base_path}/kysely/#{kysely.kyselyid}/destroy")}}
    <a href="{{base_path}}/kysely/{{kysely.kyselyid}}/edit" class="btn btn-default">Muokkaa</a>

  </div>

  <h3>Tiedot</h3>
  <ul>
    <li><strong>Kysely ID:</strong> {{kysely.kyselyid}}</li>
    <li><strong>Kurssi:</strong> {{kysely.kurssinnimi}}</li>
    <li><strong>Kyselyn tekijä:</strong> {{kysely.kayttajannimi}}</li>
    <li><strong>Alkupäivämäärä:</strong> {{kysely.alkupvm}}</li>
    <li><strong>Loppupäivämäärä:</strong> {{kysely.loppupvm}}</li>
    <li><strong>Tila:</strong> 
      {% if kysely.tila %}
      <label class="label label-success">käynnissä</label>
      {% else %}
      <label class="label label-danger">passiivinen</label></li>
      {% endif %}
  </ul>

  <h3>Kysymykset</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Kysyjä</th>
        <th>Kysymys</th>
        <th>Vastauksen muoto</th>
        <!--Lisää ominaisuuksia
        <th>Vastauksia (kpl)</th>
        <th>Keskiarvo</th> -->
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for kysymys in kysymyslista %}
      <tr>
        <td>{{kysymys.luokannimi}}</td>
        <td><a href="{{base_path}}/kysymys/{{kysymys.kysymysid}}">{{kysymys.kuvaus}}</a></td>
        <td>{{kysymys.vastausluokka}}</td>
        <th>
        <a class="btn btn-danger" href="#">Poista</a>
        <a class="btn btn-default" href="#">Muokkaa</a>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}