% extends "base.html" %}
{% block content %}
  <h1>Kurssi: Ohtu</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Perustamispäivä:</strong> 27.12.2015</li>
    <li><strong>Kurssin vastuuhenkilö:</strong> John Doe</li>
    <li><strong>Kuvaus:</strong></li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Kurssilla käsitellään ohjelmistojen ja järjestelmien määrittelyä ja kuvaamista, kuvauksissa yleisesti käytettäviä tekniikoita ja tekniikoiden pohjalla olevia käsityksiä sekä erilaisten kuvausten asemaa ohjelmiston kehittämisessä. Tekniikoiden osalta pääpaino on UML-mallinnuskielessä. 
  </p>
{% endblock %}