{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa kyselyä Ohtu syksy 2015</h1>

  <p><Strong>Viimeksi muokattu:</Strong> 27.12.2015</p>

  <form>
<!--     <div class="checkbox">
      <label>
        <input type="checkbox">
        Pelattu
      </label>
    </div> -->
    <div class="form-group">
      <label>Kysely</label>
      <input type="text" class="form-control" value="Ohtu syksy 2015">
    </div>
    <div class="form-group">
      <label>Kurssi</label>
      <input type="text" class="form-control" value="Ohtu">
    </div>
    <div class="form-group">
      <label>Perustamispäivä</label>
      <input type="text" class="form-control" value="27.12.2015">
    </div>
    <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Kysyjä</th>
        <th>Kysymys</th>
        <th>Vastauksen muoto</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td>Tiedekunta</td>
        <td><a href"#">Vastasiko kurssin sisältö kurssikuvausta?</a></td>
        <td>1-5</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
      <tr>
        <td>Tiedekunta</td>
        <td><a href"#">Mikä oli kurssin hyödyllisin kokonaisuus?</a></td>
        <td>Oma lista</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}