{% extends "base.html" %}
{% block content %}
  <h1>Kurssikysely</h1>
  <p>Tämä matemaattis-luonnontieteellisen tiedekunnan kurssikysely-sovellus. Sovelluksen avulla kurssin vastuuopettaja voi kysyä opiskelijoiden mielipiteen kurssista.</p>
  <h3>Kirjaudu sisään</h3>

  <!-- Kaikki lomakkeen elementit form-tagin sisään -->
  <form class="col-lg-4">
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input type="text" class="form-control" placeholder="Käyttäjätunnus">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
      <label>Salasana</label>
      <input type="password" class="form-control" placeholder="Salasana">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
  <p>Eikö sinulla ole tunnuksia? Rekisteröidy <a href="rekisteroidy"> tästä.</a></p>
  </form>

{% endblock %}